
.item__details{
    background-color: #ffeee8;
}
@media only screen and (min-width: 1920px){
    .slider{
        margin-top: 170px;
    }
}

.item__details{
    width: 100%;
}

.app__content{
    width: 100%;
    height: 710px;
    background-color: var(--white-color);
}

.app__content-details{
    padding-top:0;
}
.app__container-wrap__slider{
    padding: 15px 15px 0 15px;
}
.item__details__wrap{
    padding: 15px 25px 0 25px;
}
.product__title{
    font-size: 20px;
    font-weight: 300;
    color: var(--text-color);
}
.slider{
    width: 100%;
    height: 540px;
}
.slider__controls{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    justify-content: space-evenly;
    background-color: #cecaca;

}

.slider__controls-btn-icon-pre{
    position: absolute;
    left: 0;
}
.slider__controls-btn-icon-next{
    position: absolute;
    right: 0;
}

.slider__controls img{
    display: block;
    width: 24%;
    height: 50px;
}

.slider__controls-img{
    display: block;
}
.slider__controls-img:hover{
    cursor: pointer;
    border: 2.5px solid var(--primary-color);
}
.btn__control{

}
.carousel-item-img{
    height: 375px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.btn__control img{
    width: 50px;
    height: 50px;
}

.item__details__favourite{
    width: 62px;
    height: 20px;
    font-size: 1.5rem;
    padding: 0 3px;
    border-radius: 2px;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.item__details__title{
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
}

.item__details__rating{
    display: flex;
    margin: 11px 0;
}

.item__details__rate-num,
.item__details__icon__rating{
    font-size: 1.6rem;
    color: var(--primary-color);
}

.item__details__rate-num{
    border-bottom: 1px solid var(--primary-color);
}

.item__details__icon__rating{
    margin: 0 18px 0 3px;
}
.item__details__amount-rate{
    height: 24px;
    border-left:1px solid #cecccc;
    border-right:1px solid #cecccc;
}
.item__details__amount-rate__num{
    margin-left:18px ;
    font-size: 1.6rem;
    font-weight: 500;
    border-bottom: 1px solid var(--text-color);
}

.item__details__amount-rate__title,
.item__details__amount-sell__title,
.item__details__amount-sell__icon{
    font-size:1.4rem;
    font-weight: 300;
}

.item__details__amount-sell__num{
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 18px;
}

.item__details__amount-rate__title{
    margin: 0 18px 0 3px;
}
.item__details__amount-sell__title{
    margin: 0 3px;
}

.item__details__discount{
    margin-top:0;
    padding: 18px 18px;
    border-radius: 2px;
    background-color: #fafafa;

}

.item__details__discount-title{
    display: inline-flex;
    align-items: center;
    margin-top: 8px;
}

.item__details__discount-price__old{
    text-decoration:line-through;
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--text-color);
}

.item__details__discount-price__current{
    font-size: 2.2rem;
    color: var(--primary-color);
    margin: 0 8px;
}

.item__details__discount-price__percent{
    font-size: 1.5rem;
    line-height: 1.7rem;
}
.item__details__discount-title-container i{
    color: #666666;

}
.item__details__discount-title__img{
    margin-right: 12px;
}

.item__details__discount-title-title{
    display: block;
    font-size: 1.6rem;
    color: var(--primary-color);
}

.item__details__discount-title-title-title{
    display: block;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
}
.item__details__code,
.item__details__deal{
    display: flex;
    margin: 30px 0 0 20px;
}
.item__details__code-title,
.item__details__deal-title,
.item__details__ship-title,
.item__details__size-title,
.item__details__title{
    font-size: 1.6rem;
    margin-right: 30px;
    width: 90px;
    color: var(--text-color);
    font-weight: 300;
}

.item__details__code-percent,
.item__details__deal-dicription{
    height: 30%;
    font-size: 1.4rem;
    margin: 0 5px;
    padding: 0 3px;
    border-radius: 2px;
    transform: translateY(20px);
    color:var(--primary-color);
    background-color:#fbebed;
}
.item__details__deal-dicription{
    transform:none;
    background-color: #ffeee8;
}

/*Ship*/

.item__details__ship,
.item__details__size,
.item__details__amoun{
    display: flex;
    margin: 30px 0 0 20px;
}

.item__details__ship-wrap{

}
.item__details__ship-icon{
    display: block;
}

.item__details__ship-icon i{
    color:#00bfa5;
}
.item__details__ship-icon{
    font-size: 1.4rem;
    color: var(--text-color);
}
.item__details__ship-icon_1{
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 10px 20px 0 0;
    font-weight: 300;
}

.item__details__ship-address{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    outline: none;
    border: none;
}

<<<<<<< HEAD
/*Ship*/
=======
>>>>>>> hien
.item__details__size{

}

/*Ship*/

/*Size*/

.item__details__size-title{
    display: block;
}
.item__details__size-num{
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--text-color);
    border: 1px solid #bdbdbd;
    padding: 0 15px;
    margin-right: 20px;
    border-radius: 3px;
}
.item__details__size-num:focus{
    outline-color: var(--primary-color);
}

/*Size*/

/*Amoun*/

.item__details__btn{
    padding: 3px 10px 3px 10px;
    background-color: var(--white-color);
    /*border-bottom-left-radius: 3px;*/
    border: 1px solid #bdbdbd;
}
.item__details__btn-icon{
    font-size: 2rem;
    line-height: 2rem;

}
.item__details__input{
    width: 54px;
    height: 30px;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    outline: #bdbdbd;
    border-right-lef:var(--white-color) ;
    border: 1px solid #bdbdbd;
}
.amount_in_stock{
    font-size: 1.6rem;
    font-weight: 200;
    margin-left:16px ;

}
/*Amoun*/

/*Cart*/

.btn__add-to-cart{
    color: var(--primary-color);
    background-color:#ffeee8 ;
    border-radius: 2px;
    height: 48px;
    width: 215px;
    border: 1px solid var(--primary-color);
    margin: 30px 15px 0 20px;
}
.btn__buy-now{
    color: var(--white-color);
    margin-top: 30px;
    height: 48px;
    width: 115px;
}

/*Cart*/

/*Shop*/

.grid__row__shop{
    width: 100%;
    height: 130px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--white-color);
}
.shop__avatar{
    position: relative;
    display: flex;
}

.shop__container{
    display: flex;
    margin:27px 22px;
}

.shop__details-name{
    display: block;
    font-size: 1.6rem;
    font-weight: 400;

}
.shop__details{
    margin-left: 10px;
}
.shop__details-online{
    display: block;
}
.shop__img{
    width: 80px;
    height: 80px;
    margin-top: -5px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}


.shop__details-btn{
    display: inline-flex;
    margin-top: 5px;
}

.btn__chat{
    width: 118px;
    height: 35px;
    margin-right:15px ;
    background-color:#ffeee8 ;
    border: 1px solid var(--primary-color);
}
.btn__see-shop{
    width: 118px;
    height: 35px;
    background-color:var(--white-color) ;
    border: 1px solid #bdbdbd;

}
/*Shop*/

/*Details*/
.grid__row_details{
    width: 100%;
    margin-bottom: 15px;
    background-color: var(--white-color);
}
.detail__title{
    margin: 30px;
    width: 100%;
    height: 43px;
    display: block;
    background-color: #fafafa;
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 500;
    text-transform: uppercase;
}

.detail__title__describe-text{
    font-size: 1.6rem;
    display: block;
    margin: 20px 30px 60px 30px;
}

.shop__rate{
    margin-left: 90px;
}
.rate__details{
    display: flex;
    margin: 20px 0 15px 0;
}
.rate__product{
    display: flex;
}
.rate__details-rate{
    display: flex;
}

.rate__details-rate-title{
    font-weight: 200;
    width: 60px;
    margin:0 3px;
    font-size: 1.4rem;
}

.rate__details-rate-title__product{
    width: 60px;
}
.rate__details-rate-num{
    font-size: 1.4rem;
    margin-right: 60px;
    color: var(--primary-color);

}
.rate__details-rate-num_pr{
    margin-right: 57px;
}

.rate__details-rate-num_time{
    margin-right: 3px;
}
.rate__details-rate-title_pers,
.rate__details-rate-title_rsp{
    width: 90px;
}
.rate__details-rate-num_month{
    width: 100px;
}

.rate__details-rate-title__join{
    width: 60px;
    margin-right: 3px;
}

.rate__details-rate-title_timersp{
    width: 120px;
}
/*Details*/

/*Describe*/
.grid__row_describe{
    width: 100%;
    text-transform: uppercase;
    background-color: var(--white-color);
}

.describe__title{
    font-size: 2rem;
    font-weight: 500;
    margin: 30px 0 0 30px;
}

.describe__rate{
    width: 95%;
    height: 146px;
    border: 1px solid #f9ede5;
    margin: 24px 0 24px 30px;
    background-color:#fffbf8 ;
}

.describe__cmt{
    width: 100%;
    margin: 15px 0 30px 30px;
}

.describe__cmt-avatar{
    display: flex;
}
.describe__cmt-avatar-img{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.describe__cmt-username{
    display: block;
    margin-left: 10px;
    font-size: 1.6rem;
    line-height: 1.6rem;
}
.describe__cmt-rate{
    display: flex;
    width: 80px;
    margin-left: 50px;
}
.home-product-item__star-primary{
    display: block;
    font-size: 2rem;
    color: var(--primary-color);
}

.describe__cmt-time{
    display: block;
    font-weight: 200;
    font-size: 1.4rem;
    margin:15px 0 5px 50px;
}

.describe__cmt-cmt{
    margin-left: 50px;
    text-transform: none;
    font-size: 1.4rem;
}

.describe__cmt-img-product{

}

.describe__cmt-img-product img{
    width: 75px;
    height: 75px;
    margin: 20px 8px;
}

.describe__cmt-img-product img:first-child{
    margin-left: 50px;
}

.describe__cmt-rep{
    width: 90%;
    height: 100px;
    margin-left: 50px;
    background-color: #bdbdbd;
}
/*Describe*/


/*List product*/
.grid__row-product{
    width: 100%;

}


/*List product*/

<<<<<<< HEAD
>>>>>>> hien
=======
>>>>>>> hien
